In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime, timedelta

In [3]:
cac40 = pd.read_html('https://en.wikipedia.org/wiki/CAC_40')[4]
cac40.head()

         Company              Sector              GICS Sub-Industry  Ticker
0          Accor   Consumer Services  Hotels, Restaurants & Leisure   AC.PA
1    Air Liquide     Basic Materials               Industrial Gases   AI.PA
2         Airbus         Industrials            Aerospace & Defense  AIR.PA
3  ArcelorMittal     Basic Materials                          Steel   MT.AS
4            Axa  Financial Services        Life & Health Insurance   CS.PA

In [4]:
cac40.shape

(40, 4)

In [5]:
cac40.Ticker.nunique()

40

In [6]:
nb_years = 12
today = datetime.today().strftime('%Y-%m-%d')
yesterday = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')
from_date = (datetime.today() - timedelta(days=365*nb_years)).strftime('%Y-%m-%d')
print(f"Collecting data from {from_date} to close of {yesterday}")
data = yf.download(list(cac40.Ticker), start=from_date, end=today)
data

Collecting data from 2013-03-31 to close of 2025-03-27
YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  40 of 40 completed

Price           Close                                                \
Ticker          AC.PA     ACA.PA       AI.PA      AIR.PA      BN.PA
Date
2013-04-02  22.752552   3.458073   44.838882   35.188274  38.460152
2013-04-03  22.591770   3.369078   44.514065   34.520706  38.264671
2013-04-04  22.237230   3.371727   44.388786   33.592106  38.194859
2013-04-05  21.833212   3.319284   43.799469   32.761932  37.824848
2013-04-08  21.923914   3.240884   43.261200   33.129948  37.887680
...               ...        ...         ...         ...        ...
2025-03-21  43.889999  16.805000  177.520004  166.639999  71.879997
2025-03-24  44.099998  16.850000  177.339996  167.220001  70.699997
2025-03-25  44.910000  17.295000  178.720001  172.320007  71.059998
2025-03-26  44.820000  17.135000  176.740005  170.539993  70.540001
2025-03-27  44.220001  17.090000  176.440002  168.699997  70.820000

Price                                                                ...  \
Ticker         BNP.PA      CA.PA      CAP.PA      CS.PA       DG.PA  ...
Date                                                                 ...
2013-04-02  20.944014  15.585563   28.935337   7.272060   23.782957  ...
2013-04-03  20.519255  15.204135   28.849930   7.130882   23.589220  ...
2013-04-04  20.383635  15.087587   28.544918   7.069615   23.612606  ...
2013-04-05  20.094488  14.610803   28.256180   7.013676   23.448931  ...
2013-04-08  20.040752  14.568422   27.963367   6.981711   23.522413  ...
...               ...        ...         ...        ...         ...  ...
2025-03-21  79.720001  13.245000  146.050003  39.509998  118.250000  ...
2025-03-24  79.430000  12.870000  146.449997  39.580002  118.400002  ...
2025-03-25  81.580002  12.955000  147.600006  40.139999  119.300003  ...
2025-03-26  80.400002  12.950000  148.000000  40.060001  118.800003  ...
2025-03-27  79.669998  13.105000  147.100006  40.099998  119.199997  ...

Price        Volume                                                        \
Ticker       SAN.PA   SGO.PA STLAP.PA STMPA.PA    SU.PA  TEP.PA    TTE.PA
Date
2013-04-02  3773396  1947745      244  5171153  1897252  211631   6008285
2013-04-03  3060327  3165561        0  3274235  1358384   95448   4551117
2013-04-04  2510044  2592943     2257  5325514  1617680  164404   4288695
2013-04-05  2426042  2593300     5470  4417800  1579487  241564   6078230
2013-04-08  1420021  1385653      527  2754790  1001878  134013   3427195
...             ...      ...      ...      ...      ...     ...       ...
2025-03-21  5610099  2483910  3094981  4512905  2278278  489477  10312983
2025-03-24  1913393   799850  2699035  2469327   913751  192903   3577038
2025-03-25  2079709  1062640  1901334  2249054  1101847  172135   5166166
2025-03-26  2056619  1064753  2249084  3111891   939197  191502   7882062
2025-03-27  1645925  1359427  5537820  3667623  1080222  362706   4286074

Price
Ticker        URW.PA   VIE.PA    VIV.PA
Date
2013-04-02       NaN  3245139  15468629
2013-04-03       NaN  3205872  12216878
2013-04-04       NaN  4573575  15174625
2013-04-05       NaN  4320714  13700177
2013-04-08       NaN  3098482  11668485
...              ...      ...       ...
2025-03-21  979779.0  4182685   4769008
2025-03-24  209401.0  2072619   2423068
2025-03-25  231359.0  2878033   2751773
2025-03-26  193487.0  1898157   3659719
2025-03-27  225277.0  2995334   2549532

[3071 rows x 200 columns]

In [7]:
closing_prices = data['Close']
closing_prices

Ticker,AC.PA,ACA.PA,AI.PA,AIR.PA,BN.PA,BNP.PA,CA.PA,CAP.PA,CS.PA,DG.PA,...,SAN.PA,SGO.PA,STLAP.PA,STMPA.PA,SU.PA,TEP.PA,TTE.PA,URW.PA,VIE.PA,VIV.PA
Date,,,,,,,,,,,,,,,,,,,,,
2013-04-02,22.752552,3.458073,44.838882,35.188274,38.460152,20.944014,15.585563,28.935337,7.272060,23.782957,...,51.405312,21.400274,2.110706,4.565657,43.388275,26.507608,18.982460,NaN,5.807880,2.064374
2013-04-03,22.591770,3.369078,44.514065,34.520706,38.264671,20.519255,15.204135,28.849930,7.130882,23.589220,...,50.802422,20.583527,2.110706,4.572327,42.889214,26.451361,18.637098,NaN,5.666110,2.020707
2013-04-04,22.237230,3.371727,44.388786,33.592106,38.194859,20.383635,15.087587,28.544918,7.069615,23.612606,...,50.186817,20.352783,2.089652,4.372242,42.494438,25.880785,18.545170,NaN,5.702867,2.043490
2013-04-05,21.833212,3.319284,43.799469,32.761932,37.824848,20.094488,14.610803,28.256180,7.013676,23.448931,...,49.222187,20.089079,2.068598,4.275902,41.764465,25.085192,18.259432,NaN,5.603101,2.037794
2013-04-08,21.923914,3.240884,43.261200,33.129948,37.887680,20.040752,14.568422,27.963367,6.981711,23.522413,...,49.380833,20.140358,2.100179,4.246262,41.600605,25.394588,18.261915,NaN,5.573348,2.052983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-21,43.889999,16.805000,177.520004,166.639999,71.879997,79.720001,13.245000,146.050003,39.509998,118.250000,...,105.839996,99.959999,11.100000,22.020000,231.750000,91.599998,57.622646,76.879997,31.370001,2.762000
2025-03-24,44.099998,16.850000,177.339996,167.220001,70.699997,79.430000,12.870000,146.449997,39.580002,118.400002,...,103.879997,99.699997,11.322000,22.434999,232.000000,92.459999,57.188503,76.400002,31.500000,2.810000
2025-03-25,44.910000,17.295000,178.720001,172.320007,71.059998,81.580002,12.955000,147.600006,40.139999,119.300003,...,103.720001,100.099998,11.402000,22.445000,234.000000,93.879997,58.560001,76.599998,31.830000,2.850000
2025-03-26,44.820000,17.135000,176.740005,170.539993,70.540001,80.400002,12.950000,148.000000,40.060001,118.800003,...,101.459999,99.599998,11.398000,21.545000,228.399994,94.059998,60.410000,77.260002,31.790001,2.819000
2025-03-27,44.220001,17.090000,176.440002,168.699997,70.820000,79.669998,13.105000,147.100006,40.099998,119.199997,...,101.860001,98.459999,10.914000,21.290001,225.300003,98.459999,60.509998,77.559998,32.099998,2.820000

In [8]:
closing_prices.to_csv(f'../dataset/CAC40_closing_prices_{from_date}_to_{yesterday}.csv')